<div class=" topnav">
  
  <a [class]="home" (click)="onChangeActiveState(navigationType.HOME)"  routerLink="/home">Home</a>
  <a [class]="angularForm" (click)="onChangeActiveState(navigationType.ANGULAR_FORM)" routerLink="/angularForm">Angular Form</a>
  <a [class]="reactiveForm" (click)="onChangeActiveState(navigationType.REACTIVE_FORM)" routerLink="/reactiveForm">Reactive Form</a>
  <a [class]="details" (click)="onChangeActiveState(navigationType.DETAILS)" routerLink="/details">Details</a>

</div>